# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/
.env

# Flask
instance/
.webassets-cache

# Secrets & Environment Variables
serviceAccountKey.json
control_unit.py
.env.example
.env

# IDE & System
.vscode/
.idea/
.DS_Store
Thumbs.db